Repository egarcia74/warp-sql-server-mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, code, testing, configuration, ci-cd, security, dependencies, database, mcp, hooks, tooling

docs: add comprehensive badge section to README
  README.md
Labels: documentation

docs: add comprehensive badge section to README
  README.md
Labels: documentation

fix: resolve failing GitHub Actions workflows
  .github/cspell.json
  .github/workflows/codeql.yml
  .github/workflows/scorecard.yml
Labels: ci-cd, security

fix: resolve failing GitHub Actions workflows
  .github/cspell.json
  .github/workflows/codeql.yml
  .github/workflows/scorecard.yml
Labels: ci-cd, security

fix(codeql): correct configuration file to use proper query packs
  .github/codeql/codeql-config.yml
Labels: ci-cd, security

fix(codeql): correct configuration file to use proper query packs
  .github/codeql/codeql-config.yml
Labels: ci-cd, security

fix: update workflows to trigger fresh badge status
  .github/workflows/auto-label.yml
  README.md
Labels: documentation, ci-cd

fix: update workflows to trigger fresh badge status
  .github/workflows/auto-label.yml
  README.md
Labels: documentation, ci-cd

fix(workflows): remove auto-commit from docs workflow
  .github/workflows/docs.yml
Labels: ci-cd

fix(workflows): remove auto-commit from docs workflow
  .github/workflows/docs.yml
Labels: ci-cd

fix(workflows): fix auto-label workflow failures
  .github/cspell.json
  .github/workflows/auto-label.yml
Labels: ci-cd

fix(workflows): fix auto-label workflow failures
  .github/cspell.json
  .github/workflows/auto-label.yml
Labels: ci-cd

fix(workflows): make dependency review optional and non-blocking
  .github/workflows/codeql.yml
Labels: ci-cd, security

fix(workflows): make dependency review optional and non-blocking
  .github/workflows/codeql.yml
Labels: ci-cd, security

docs: improve README badge organization with sections
  README.md
Labels: documentation

docs: improve README badge organization with sections
  README.md
Labels: documentation

fix: correct size-label-action configuration and add size labels
  .github/workflows/auto-label.yml
Labels: ci-cd

fix: resolve eslint unused variable warnings and format test file
  test/sqlserver-mcp.test.js
Labels: code, testing, database, mcp

fix: resolve eslint unused variable warnings and format test file
  test/sqlserver-mcp.test.js
Labels: code, testing, database, mcp

fix: correct size-label-action configuration and add size labels
  .github/workflows/auto-label.yml
Labels: ci-cd

test: add test file for size-label workflow validation
  test-file.txt
Labels: documentation

test: add test file for size-label workflow validation (#9)
  test-file.txt
Labels: documentation

test: add test file for size-label workflow validation (#9)
  test-file.txt
Labels: documentation

fix: add SQL Server system database names to spell check dictionary
  .github/cspell.json
Labels: ci-cd

fix: add SQL Server system database names to spell check dictionary
  .github/cspell.json
Labels: ci-cd

cleanup: remove test file used for workflow validation
  test-file.txt
Labels: documentation

cleanup: remove test file used for workflow validation
  test-file.txt
Labels: documentation

fix: enable API documentation generation for manual workflow triggers
  .github/workflows/docs.yml
Labels: ci-cd

fix: enable API documentation generation for manual workflow triggers
  .github/workflows/docs.yml
Labels: ci-cd

feat: add GitHub Pages deployment workflow for documentation
  .github/workflows/pages.yml
Labels: ci-cd

feat: add GitHub Pages deployment workflow for documentation
  .github/workflows/pages.yml
Labels: ci-cd

fix: correct release workflow logic for detecting conventional commits
  .github/workflows/release.yml
Labels: ci-cd

fix: correct release workflow logic for detecting conventional commits
  .github/workflows/release.yml
Labels: ci-cd

chore: bump version to 1.1.0
  package.json
Labels: configuration, dependencies

chore: bump version to 1.1.0
  package.json
Labels: configuration, dependencies

fix: silence OSSF scorecard warnings and fix release workflow issues
  .github/workflows/release.yml
  .github/workflows/scorecard.yml.disabled
Labels: ci-cd

fix: silence OSSF scorecard warnings and fix release workflow issues
  .github/workflows/release.yml
  .github/workflows/scorecard.yml.disabled
Labels: ci-cd

fix: configure git user identity for release workflow tagging
  .github/workflows/release.yml
Labels: ci-cd

fix: configure git user identity for release workflow tagging
  .github/workflows/release.yml
Labels: ci-cd

Add CHANGELOG.md with complete release history
  CHANGELOG.md
Labels: documentation

.github/labeler.yml:

# Configuration for PR file-based labeling

# Documentation changes
documentation:
  - changed-files:
    - any-glob-to-any-file: ['**/*.md', 'docs/**', '*.rst', '*.txt']

# Code changes
code:
  - changed-files:
    - any-glob-to-any-file: ['**/*.js', '**/*.mjs', '**/*.ts', '**/*.tsx']

# Test changes
testing:
  - changed-files:
    - any-glob-to-any-file: ['test/**', '**/*.test.*', '**/*.spec.*', '**/tests/**', '**/__tests__/**']

# Configuration changes
configuration:
  - changed-files:
    - any-glob-to-any-file: 
      - '*.json'
      - '*.yml' 
      - '*.yaml'
      - '.env*'
      - '.*rc*'
      - '*.config.*'
      - 'package.json'
      - 'package-lock.json'

# GitHub Actions / CI changes
ci-cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**', 'Dockerfile', 'docker-compose.*', '*.Dockerfile']

# Security related
security:
  - changed-files:
    - any-glob-to-any-file: 
      - '.audit-ci.json'
      - '.github/workflows/codeql.yml'
      - '.github/workflows/scorecard.yml'
      - '.github/codeql/**'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file: ['package.json', 'package-lock.json', 'npm-shrinkwrap.json']

# Database related
database:
  - changed-files:
    - any-glob-to-any-file: ['**/*sql*', '**/*db*', '**/*database*']

# MCP specific
mcp:
  - changed-files:
    - any-glob-to-any-file: ['index.js', '**/*mcp*']

# Git hooks
hooks:
  - changed-files:
    - any-glob-to-any-file: ['.git/hooks/**', '.husky/**']

# Tooling
tooling:
  - changed-files:
    - any-glob-to-any-file: 
      - '.eslintrc.*'
      - '.prettier*'
      - '.markdownlint*'
      - 'vitest.config.*'
      - '.gitignore'
